.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.user-container {
  display: flex;
  align-items: center;
  gap:.5rem;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.user {
  padding: .5rem;
  border-radius: 100%;
  box-shadow: 0 4px 4px 2px #00000035;
}

.button-primary {
  background: var(--button-color);
  color: var(--fatec-white-500);

  padding: 0.95rem 1.5rem;

  border: 0;
  border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  cursor: pointer;

  transition: background ease 400ms;
}

.button-primary:hover {
  background: var(--button-color-hover);
}

.button-primary:disabled {
  pointer-events: none;
  background: #cccccc;
}

.button-primary-outline {
  background: none;
  color: var(--fatec-dark-500);

  padding: 0.6rem 1.5rem;

  border: 2px solid var(--button-border);
  border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  cursor: pointer;

  transition: background ease 400ms;
}

.button-primary-outline:hover {
  color: var(--fatec-white-500);
  background: var(--button-border);
}

.button-secondary {
  background: var(--button-color);
  color: var(--fatec-white-500);

  padding: 0.95rem 1.5rem;

  border: 0;
  border-radius: 50px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  cursor: pointer;

  transition: background ease 400ms;
}

.button-secondary:hover {
  background: var(--button-color-hover);
}

.input-secondary {
  background: none;

  border-radius: 50px;
  border: solid var(--fatec-red-500) 0.153rem;

  padding: 0.5rem;
  color: var(--fatec-dark-500);

  font-family: "Roboto", sans-serif;
  font-size: var(--text-base-font-size);
  line-height: var(--text-base-line-height);
}

.input-secondary::placeholder {
  color: var(--fatec-dark-500);
  font-family: "Roboto", sans-serif;
}

.input-primary {
  background: none;

  border-radius: 10px;
  border: solid var(--fatec-red-500) 0.153rem;

  padding: 0.5rem;
  color: var(--fatec-dark-500);

  font-family: "Roboto", sans-serif;
  font-size: var(--text-base-font-size);
  line-height: var(--text-base-line-height);
}

.input-primary::placeholder {
  color: var(--fatec-dark-500);
  font-family: "Roboto", sans-serif;
}

.textarea-primary {
  background: transparent;
  padding: 0.5rem;
  border: 2px solid var(--fatec-red-500);
  border-radius: 12px;
  font-size: 1rem;
  line-height: var(--text-base-line-height);
  height: auto;
  resize: none;
  outline: none;
  overflow: hidden;
}

.textarea-primary::placeholder {
  color: var(--fatec-dark-500);
  font-family: "Roboto", sans-serif;
}
