/* General Section Styles */
#hae-section,
#form-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* HAE Container */
#hae-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
}

#hae-container > p {
  font-weight: 500;
}

.hae-container-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hae-container-header-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

/* About Section */
#about-container {
  margin-top: 1rem;
}

#about-container h3 {
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);
  font-family: "Roboto", sans-serif;
}

#about-container p,
#about-container li {
  font-family: "Roboto Slab";
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  color: var(--fatec-gray-500);
}

#about-container ul {
  list-style: none;
}

hr {
  width: 97%;
  border-top: 1px solid #dadada;
  border-radius: 5px;
  margin: 0 auto;
}

/* Form Section */
.form-title {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-2xl-font-size);
  line-height: var(--text-xl-line-height);
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 770px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  form input[type="text"],
  input[type="date"],
  textarea {
    width: 20rem;
  }

  form input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }
}

form input[type="text"],
input[type="date"],
textarea {
  width: 15rem;
}

form input[type="number"] {
  width: 2.8rem;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

form input[type="checkbox"] {
  accent-color: var(--fatec-red-500);
  width: 1.2rem;
  height: 1.2rem;
}

.checkfield {
  display: flex;
  align-items: center;
}

.checkfield label {
  width: 12rem;
  text-align: center;
}

form label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 0.5rem;
}

.form-field-column {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-field-line {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.form-field-line input[type="number"] {
  margin-left: -2rem;
}

.warn {
  font-size: var(--text-xs-font-size);
  line-height: var(--text-xs-line-height);
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 15rem;
}

form .button-primary {
  width: 15rem;
}

/* Status Container */
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem 0;
  font-family: "Roboto";
}

.status-header {
  text-align: center;
  margin: 0.5rem 0;
}

.status-header h2 {
  color: var(--fatec-red-500);
}

.status-container h3 {
  margin: 0.5rem 0;
  color: var(--fatec-red-500);
}

.status-comment {
  position: relative;
}

.status-comment img {
  position: absolute;
  left: -1.7rem;
  top: 0.2rem;
}

@media (min-width: 730px) {
  .status-comment img {
    left: -2rem;
    top: 0.3rem;
  }
}

.status-comment span {
  font-weight: bold;
}

.error-form {
  color: var(--fatec-red-500);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.form-obs {
  display: flex;
  flex-direction: column;
}

.form-obs .status-comment {
  display: flex;
  flex-direction: column;
}

.form-obs .buttons button {
  width: 7rem;
}

/* Select and Option Styles */
select {
  background: none;
  border: 2px solid var(--fatec-red-500);
  border-radius: 8px;
  padding: 0.5rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  width: 15rem;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

option {
  outline: none;
}

/* Iframe */
.iframe {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

#file-message {
  font-family: "Roboto";
  font-weight: 500;
}
