@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Colors */
  --fatec-red-400: #d32719;
  --fatec-red-500: #b20000;
  --fatec-red-700: #7e0000;
  --fatec-white-500: #f7f7f2;
  --fatec-dark-500: #0d0d0d;
  --fatec-gray-500: #666666;
  --fatec-gray-300: #dadada;
  --fatec-blue-500:#005C6D;
  --fatec-blue-700:#004854;
  --fatec-lightblue-500:#00C1CF;
  --fatec-lightblue-600:#00D8E8;
  /*  Media Query */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
  /* Font Sizes */
  --text-xs-font-size: 0.75rem;
  --text-sm-font-size: 0.875rem;
  --text-base-font-size: 1rem;
  --text-lg-font-size: 1.125rem;
  --text-xl-font-size: 1.25rem;
  --text-2xl-font-size: 1.5rem;
  /* Line Heights */
  --text-xs-line-height: 1rem;
  --text-sm-line-height: 1.25rem;
  --text-base-line-height: 1.5rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-line-height: 1.75rem;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}
