section {
  padding: 2rem;
}

section h2 {
  font-family: "Roboto";
  text-align: center;
  margin: .5rem 0;
}

.glass-search {
  width: 1.8rem;
  height: 1.8rem;

  position: relative;
  top: 0.5rem;
  right: 2.6rem;

  cursor: pointer;
}

.card-hae {
  width: 22rem;

  gap: 1rem;
}

.card-hae-tag {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;

  font-size: var(--text-sm-font-size);
  font-weight: 600;
  line-height: var(--text-sm-line-height);

  background: #ff4c4d50;
  color: var(--fatec-red-500);
  width: 3rem;
}

.card-hae-title {
  display: inherit;
  flex-direction: column;
  gap: 0.2rem;
}

.card-hae-info {
  font-weight: 500;
}

.card-hae-date {
  display: flex;
  align-items: center;

  gap: 0.5rem;

  font-size: var(--text-sm-font-size);
  font-weight: 500;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 2rem;
}

main a,
button {
  width: 100%;
}
